/* wildcard styles to override the browser default */
*{
    margin: 0;
    padding: 0;
}

/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dosis:wght@300&display=swap');

body {
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    color: #e0e0e0;
}

header {
    /* background-color: blue; */
    background-image: linear-gradient(to bottom, #000000, rgba(0,0,0,0));
    position: fixed;
    width: 100%;
    padding: 5px 1rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

header li {
    list-style-type: none;
    font-size: 120%;
    font-family: "Comfortaa", sans-serif;
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #e0e0e0;
}

main {
    flex: 1 0 auto;
    background-color: blueviolet;
    /* padding: 1em 20px 0 20px; */
}

footer {
    background-color: brown;
}


/* font classes */
.comfortaa {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}