/* wildcard styles to override the browser default */
*{
    margin: 0;
    padding: 0;
}

/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dosis:wght@300&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: blue;
}

main {
    flex: 1 0 auto;
    background-color: blueviolet;
}

footer {
    background-color: brown;
}


/* font classes */
.comfortaa {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}