/* wildcard styles to override the browser default */
* {
    margin: 0;
    padding: 0;
}

/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dosis:wght@300&display=swap');

body {
    /* min-height: 150vh; */
    display: flex;
    flex-direction: column;
    color: #e0e0e0;
    background-color: #000000;
    font-family: "dosis", sans-serif;
}

header {
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    font-family: "comfortaa", sans-serif;
}

/* class to hide components for aesthetics, mainly semantic elements */
.hidden {
    display: none;
}

#menu {
    list-style-type: none;
    font-size: 120%;
    display: none;
}

#menu>li {
    margin: 0.8em 0;
}

.active {
    border-bottom: 1px solid #e0e0e0;
}

/* nav toggle - based from Love Running*/
nav {
    position: fixed;
    width: 100%;
    left: 0;
    padding: 5px 1rem 0;
    background-image: linear-gradient(to bottom, #000000, #000000, rgba(0, 0, 0, 0.5));
}

#nav-toggle:checked~#menu {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* ^ from Love Running */

/* Main */
main {
    flex: 1 0 auto;
    /* background-color: rgb(0, 0, 0); */
    /* padding: 1em 20px 0 20px; */
}

#welcome {
    display: block;
    position: relative;
    /* height: auto; */
}

#welc-gradient {
    background-image: radial-gradient(circle, #c63532, #b42c27, #a3221d, #921913, #810e09);
    position: relative;
    display: block;
    height: 500px;
    /* width: 100%; */
    z-index: 1;
}

#welcome-img {
    display: block;
    /* background-image: radial-gradient(circle, #c63532, #b42c27, #a3221d, #921913, #810e09); */
    background: url(../assets/images/welcome-img.png) no-repeat center bottom / contain;
    height: 500px;
    min-height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    /* left: 25%; */
    z-index: 2;
}

#tag {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 132px;
    padding: 1rem 0 0.5rem 1rem;
    font-size: 2rem;
    color: #000000;
    z-index: 3;
    background-color: rgba(224, 224, 224, 0.2);
    /* width: 100%; */
}

#welcome-msg {
    /* position: absolute; */
    padding: 1rem;
    background-color: #e0e0e0;
    color: #000000;
    z-index: 3;
    height: 100px;
}

/* PROJECTS SECTION */
/* adjusts H2 font size for small displays, needs to revert to regular once on tablets */
#projects h2 {
    font-size: 5vw;
}

/* Reset button that "closes" any project expanded section */
#projects input[type="reset"] {
    display: none;
}


/* Project 1 */

/* Hide the toggle checkbox */
#expand-toggle1 {
    display: none;
}

/* Hide expandable content by default */
.expandable1 {
    /* visibility: collapse; */
    display: none;
    /* background: #880000; */
}

/* Style the button */
#expand-btn1 {
    display: block;
    position: absolute;
    height: 14vw;
    padding: 0 1rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 98;
    background: rgba(0, 0, 0, .75);
}

/* Show hidden content when the checkbox is checked */
#expand-toggle1:checked~* .expandable1 {
    /* visibility: visible; */
    display: contents;
}

/* Style the button when the checkbox is checked */
#expand-toggle1:checked~#prj1-img {
    height: 80vw;
}

#expand-toggle1:checked~#expand-btn1 {
    top: auto;
    bottom: auto;
    font-style: strong;
}

#project-1 {
    position: relative;
}

#prj1-img {
    background: url(../assets/images/proj-1-a.jpg) no-repeat center center / cover;
    height: 14vw;
}

/* Project 2 */

/* Hide the toggle checkbox */
#expand-toggle2 {
    display: none;
}
/* Hide expandable content by default */
.expandable2 {
    /* visibility: collapse; */
    display: none;
    /* background: #880000; */
}

/* Style the button */
#expand-btn2 {
    display: block;
    position: absolute;
    height: 14vw;
    padding: 0 1rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 98;
    background: rgba(0, 0, 0, .75);
}

/* Show hidden content when the checkbox is checked */
#expand-toggle2:checked~* .expandable2 {
    /* visibility: visible; */
    display: contents;
}

/* Style the button when the checkbox is checked */
#expand-toggle2:checked~#prj2-img {
    height: 80vw;
}

#expand-toggle2:checked~#expand-btn2 {
    top: auto;
    bottom: auto;
    font-style: strong;
}

#project-2 {
    position: relative;
}

#prj2-img {
    background: url(../assets/images/proj-2-a.png) no-repeat center center / cover;
    height: 14vw;
}

/* Project 3 */

/* Hide the toggle checkbox */
#expand-toggle3 {
    display: none;
}
/* Hide expandable content by default */
.expandable3 {
    /* visibility: collapse; */
    display: none;
    /* background: #880000; */
}

/* Style the button */
#expand-btn3 {
    display: block;
    position: absolute;
    height: 14vw;
    padding: 0 1rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 98;
    background: rgba(0, 0, 0, .75);
}

/* Show hidden content when the checkbox is checked */
#expand-toggle3:checked~* .expandable3 {
    /* visibility: visible; */
    display: contents;
}

/* Style the button when the checkbox is checked */
#expand-toggle3:checked~#prj3-img {
    height: 80vw;
}

#expand-toggle3:checked~#expand-btn3 {
    top: auto;
    bottom: auto;
    font-style: strong;
}

#project-3 {
    position: relative;
}

#prj3-img {
    background: url(../assets/images/proj-3-a.png) no-repeat center center / cover;
    height: 14vw;
}

/* Project 4 */

/* Hide the toggle checkbox */
#expand-toggle4 {
    display: none;
}
/* Hide expandable content by default */
.expandable4 {
    /* visibility: collapse; */
    display: none;
    /* background: #880000; */
}

/* Style the button */
#expand-btn4 {
    display: block;
    position: absolute;
    height: 14vw;
    padding: 0 1rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 98;
    background: rgba(0, 0, 0, .75);
}

/* Show hidden content when the checkbox is checked */
#expand-toggle4:checked~* .expandable4 {
    /* visibility: visible; */
    display: contents;
}

/* Style the button when the checkbox is checked */
#expand-toggle4:checked~#prj4-img {
    height: 80vw;
}

#expand-toggle4:checked~#expand-btn4 {
    top: auto;
    bottom: auto;
    font-style: strong;
}

#project-4 {
    position: relative;
}

#prj4-img {
    background: url(../assets/images/proj-4-a.jpg) no-repeat center center / cover;
    height: 14vw;
}

/* CONTACT US SECTION */



/* Footer */
footer {
    background-image: linear-gradient(to top, rgb(180, 37, 33), rgb(58, 12, 10));
    min-height: 2rem;
}

#contact-platforms {
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px 0;
}

#contact-platforms i {
    font-size: 120%;
    padding: 5%;
    color: #e0e0e0;
}

@media screen and (min-width: 768px) {

    /* Header */
    /* copied nav bar styles from the Love Running walkthrough project */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* end of nav bar styles from Love Running */
}

/* font classes */
.comfortaa {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.dosis {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}