/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&display=swap');

/* wildcard styles to override the browser default */
* {
    margin: 0;
    padding: 0;
}

body {
    /* min-height: 150vh; */
    display: flex;
    flex-direction: column;
    color: #e0e0e0;
    background-color: #000000;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
}

header {
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    font-family: comfortaa, dosis, helvetica, sans-serif;
}

/* class to hide components for aesthetics, mainly semantic elements */
.hidden {
    display: none;
}

#menu {
    list-style-type: none;
    font-size: 120%;
    display: none;
}

#menu>li {
    margin: 0.8em 0;
}

#menu a:hover {
    border-bottom: 1px solid #e0e0e0;
}

/* nav toggle - based from Love Running*/
nav {
    position: fixed;
    width: 100%;
    left: 0;
    padding: 5px 1rem 0;
    background-image: linear-gradient(to bottom, #000000, #000000, rgba(0, 0, 0, 0.5));
}

#nav-toggle:checked~#menu {
    display: block;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* 
#bars {
    visibility: visible;
}

#nav-toggle:checked~#bars{
    visibility: hidden;
}

#cls-menu{
    visibility: hidden;
}

#nav-toggle:checked~#cls-menu{
    visibility: visible;
} */

/* ^ from Love Running */

/* Main */
main {
    flex: 1 0 auto;
    /* background-color: rgb(0, 0, 0); */
    /* padding: 1em 20px 0 20px; */
}

#welcome {
    display: block;
    position: relative;
    /* height: auto; */
}

#welc-gradient {
    background-image: radial-gradient(circle, #c63532, #b42c27, #a3221d, #921913, #810e09);
    position: relative;
    display: block;
    height: 500px;
    /* width: 100%; */
    z-index: 1;
}

#welcome-img {
    display: block;
    /* background-image: radial-gradient(circle, #c63532, #b42c27, #a3221d, #921913, #810e09); */
    background: url(../assets/images/welcome-img.png) no-repeat center bottom / cover;
    height: 500px;
    min-height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    /* left: 25%; */
    z-index: 2;
}

#tag {
    position: absolute;
    left: 0;
    right: 0;
    top: 370px;
    padding: 1rem 0 0.5rem 1rem;
    font-size: 2rem;
    color: #000000;
    z-index: 3;
    background-color: rgba(224, 224, 224, 0.2);
    height: 106px;
}

#welcome-msg {
    /* position: absolute; */
    padding: 1rem;
    background-color: #e0e0e0;
    color: #000000;
    z-index: 3;
    /* height: 100px; */
}

#welcome-msg p {
    padding-top: .5rem;
    line-height: 1.5;
}

/* PROJECTS SECTION */
/* adjusts H2 font size in project labels for small displays, needs to revert to fixed once on tablets */
#projects label h2 {
    font-size: 5vw;
}

/* Reset button that "closes" any project expanded section, set invisible as default */
#projects input[type="reset"] {
    display: none;
}

/* Hide the toggle checkbox */
#expand-toggle1,
#expand-toggle2,
#expand-toggle3,
#expand-toggle4 {
    display: none;
}

/* Hide expandable content by default */
.expandable1,
.expandable2,
.expandable3,
.expandable4 {
    display: none;
}

/* Style the button */
#expand-btn1,
#expand-btn2,
#expand-btn3,
#expand-btn4 {
    display: block;
    position: absolute;
    height: 14vw;
    padding: 0 1rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 98;
    background: rgba(0, 0, 0, .75);
}

/* Show hidden content when the checkbox is checked and add margin*/
#expand-toggle1:checked~* .expandable1,
#expand-toggle2:checked~* .expandable2,
#expand-toggle3:checked~* .expandable3,
#expand-toggle4:checked~* .expandable4 {
    display: block;
    margin: 1rem;
}

/* Style the button when the checkbox is checked */
#expand-toggle1:checked~#prj1-img,
#expand-toggle2:checked~#prj2-img,
#expand-toggle3:checked~#prj3-img,
#expand-toggle4:checked~#prj4-img {
    height: 80vw;
}

#expand-toggle1:checked~#expand-btn1,
#expand-toggle2:checked~#expand-btn2,
#expand-toggle3:checked~#expand-btn3,
#expand-toggle4:checked~#expand-btn4 {
    top: auto;
    bottom: auto;
    font-style: strong;
}

#project-1,
#project-2,
#project-3,
#project-4 {
    position: relative;
    margin: 5px 0;
}

#prj1-img,
#prj2-img,
#prj3-img,
#prj4-img {
    height: 14vw;
}

.prj-txt {
    line-height: 1.5;
}

/* heading of projects is invisible until display is wide enough and we would want the heading to move to project text area */
.prj-txt h2 {
    display: none;
    margin: 1rem;
}

#prj1-img {
    background: url(../assets/images/proj-1-a.jpg) no-repeat center center / cover;
}

#prj2-img {
    background: url(../assets/images/proj-2-a.png) no-repeat center center / cover;
}

#prj3-img {
    background: url(../assets/images/proj-3-a.png) no-repeat center center / cover;
}

#prj4-img {
    background: url(../assets/images/proj-4-a.jpg) no-repeat center center / cover;
}



/* CONTACT US SECTION */
#contact-us {
    padding: 5vw;
    flex-grow: 1;
}

#contact-form {
    /* display: block; */
    background-color: rgba(180, 37, 33, 0.5);
    /* width: 100%; */
    padding: 1rem;
}

#contact-form h2 {
    margin-bottom: 15px;
}

#contact-form label{
    display: block;
}

.input-field {
    background-color: rgba(0, 0, 0, 0.5);
    color: inherit;
    width: 99%;
    padding: 5px;
    border: none;
    border-radius: .75rem;
    font-family: inherit;
    display: block;
}

#contact-form textarea {
    resize: none;
}

#contact-btns {
    font-size: 2rem;
    display: flex;
    position: relative;
    justify-content: space-between;
    left: 0;
    right: 0;
    margin: 1rem;
}


/* Footer */
footer {
    background-image: linear-gradient(to top, rgb(180, 37, 33), rgb(58, 12, 10));
    min-height: 2rem;
}

#contact-platforms {
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px 0;
}

#contact-platforms i {
    font-size: 120%;
    padding: 10px;
    color: #e0e0e0;
}

#contact-platforms i:hover {
    background-color: #000000;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
}

@media screen and (min-width: 333px) {
    #welcome-img {
        /* display: block; */
        /* background-image: radial-gradient(circle, #c63532, #b42c27, #a3221d, #921913, #810e09); */
        /* background: url(../assets/images/welcome-img.png) no-repeat center bottom / contain; */
        background-size: contain;
        /* height: 500px; */
        /* min-height: 500px; */
        /* width: 100%; */
        /* position: absolute; */
        /* top: 0; */
        /* left: 25%; */
        /* z-index: 2; */
    }

}

@media screen and (min-width: 425px) {

    /* Header */
    /* copied nav bar styles from the Love Running walkthrough project */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        /* width: fit-content; */
        padding-left: 0;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1.5rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* end of nav bar styles from Love Running */

    #prj1-img,
    #prj2-img,
    #prj3-img,
    #prj4-img {
        height: 60px;
    }

    #projects label h2 {
        font-size: 22px;
    }

    #expand-btn1,
    #expand-btn2,
    #expand-btn3,
    #expand-btn4 {
        /* display: block; */
        /* position: absolute; */
        height: 60px;
        /* padding: 0 1rem;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 98;
        background: rgba(0, 0, 0, .75); */
    }

    #expand-toggle1:checked~#prj1-img,
    #expand-toggle2:checked~#prj2-img,
    #expand-toggle3:checked~#prj3-img,
    #expand-toggle4:checked~#prj4-img {
        height: 340px;
    }

}

@media screen and (min-width: 600px) {
    #welcome-img {
        background-position: 75%;
    }

    #welcome-msg {
        position: absolute;
        left: 5vw;
        top: 150px;
        width: 40vw;
        border-radius: 0.75rem;
    }

    /* Each projects set to flex */
    #project-1,
    #project-2,
    #project-3,
    #project-4 {
        display: flex;
        width: 100%;
    }

    /* Sets project images visible the whole time and to fill the height of their div when taller than 340px due to text */
    #expand-toggle1:checked~#prj1-img,
    #expand-toggle2:checked~#prj2-img,
    #expand-toggle3:checked~#prj3-img,
    #expand-toggle4:checked~#prj4-img,
    #prj1-img,
    #prj2-img,
    #prj3-img,
    #prj4-img {
        height: auto;
        min-height: 340px;
        flex: 1 0 300px;
    }

    /* sets project heading visible */
    .prj-txt h2 {
        display: contents;
    }

    /* add margin to project text division */
    .prj-txt {
        margin: 1rem;
    }

    #expand-btn1,
    #expand-btn2,
    #expand-btn3,
    #expand-btn4 {
        display: none;
    }

    /* Sets project text visible the whole time */
    .expandable1,
    .expandable2,
    .expandable3,
    .expandable4,
    #expand-toggle1:checked~* .expandable1,
    #expand-toggle2:checked~* .expandable2,
    #expand-toggle3:checked~* .expandable3,
    #expand-toggle4:checked~* .expandable4 {
        display: block;
        margin: 1rem 0;
    }

    .prj-txt {
        flex: 1 0 200px;
        align-content: flex-start;
    }

    /* hide the X icon on project sections */
    #projects i {
        display: none;
    }
}

@media screen and (min-width: 1500px) {
    #welcome-img {
        background-position: 60%;
    }

    #welcome-msg {
        /* position: absolute; */
        left: 18vw;
        /* top: 150px; */
        width: 29vw;
        /* border-radius: 0.75rem; */
    }

    #projects form {
        display: flex;
        /* flex-wrap: wrap; */
        /* column-count: 2; */
    }

    #project-1,
    #project-2,
    #project-3,
    #project-4 {
        display: inline-block;
        margin: 1rem;
    }

    #contact-us {
        padding: 2vw;
    }

    .input-field {
        padding: 0.34vw;
    }
}

@media screen and (min-width: 2560px) {
    /* increase welcome section in height in proportion to screen width */
    #welc-gradient {
        height: 19.5vw;
    }
    
    #welcome-img {
        height: 19.5vw;
    }

    #welcome-msg {
        top: 5.86vw;
    }
    
    #tag {
        top: auto;
        bottom: 0;
    }

    /* Sets project images to increase in size as the width of the display grows */
    #expand-toggle1:checked~#prj1-img,
    #expand-toggle2:checked~#prj2-img,
    #expand-toggle3:checked~#prj3-img,
    #expand-toggle4:checked~#prj4-img,
    #prj1-img,
    #prj2-img,
    #prj3-img,
    #prj4-img {
        height: 14vw;
    }

    html {
        font-size: 0.625vw;
    }
}

/* font classes */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700 */

.comfortaa-[uniquifier] {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: [weight];
  font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800 */

.dosis-[uniquifier] {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: [weight];
  font-style: normal;
}
