/* wildcard styles to override the browser default */
*{
    margin: 0;
    padding: 0;
}

/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dosis:wght@300&display=swap');

body {
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    color: #e0e0e0;
    font-family: "dosis", sans-serif;
}

header {
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1, h2 , h3 {
    font-family: "comfortaa", sans-serif;
}

#menu {
    list-style-type: none;
    font-size: 120%;
    display: none;
}

#menu > li {
    margin: 0.8em 0;
}

.active {
    border-bottom: 1px solid #e0e0e0;
}

/* nav toggle - based from Love Running*/
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 5px 1rem 0;
    background-image: linear-gradient(to bottom, #000000, #000000, rgba(0,0,0,0.5));
}

#nav-toggle:checked~#menu{
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
/* ^ from Love Running */

/* Main */
main {
    flex: 1 0 auto;
    background-color: rgb(0, 0, 0);
    /* padding: 1em 20px 0 20px; */
}

#welcome-img {
    background: url(../assets/images/welcome-img.jpg) no-repeat center center/cover;
    height: 500px;
    position: relative;
}

#tag {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1rem 0 0.5rem 1rem;
    font-size: x-large;
    color: #000000;
}

/* Footer */
footer {
    background-image: linear-gradient(to top, rgb(180,37,33), rgb(58, 12, 10));
    min-height: 2rem;
}

#contact-platforms {
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px 0;
}

#contact-platforms i {
    font-size: 120%;
    padding: 5%;
    color: #e0e0e0;
}

@media screen and (min-width: 768px) {
    /* Header */
    /* copied nav bar styles from the Love Running walkthrough project */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
    /* end of nav bar styles from Love Running */
}

/* font classes */
.comfortaa {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}